<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EineStadt.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5A6DD1DC9F4443C44C760457307B8C0925FD8B8B</string>
				<key>dateExpires</key>
				<string>29/01/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5A6DD1DC9F4443C44C760457307B8C0925FD8B8B</string>
						<key>dateExpires</key>
						<string>29/01/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3DT956C6M4</string>
						<key>name</key>
						<string>Lodes Michael, Sebastian Seitz GbR</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5A6DD1DC9F4443C44C760457307B8C0925FD8B8B</string>
						<key>dateExpires</key>
						<string>29/01/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3DT956C6M4</string>
						<key>name</key>
						<string>Lodes Michael, Sebastian Seitz GbR</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5A6DD1DC9F4443C44C760457307B8C0925FD8B8B</string>
						<key>dateExpires</key>
						<string>29/01/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3DT956C6M4</string>
						<key>name</key>
						<string>Lodes Michael, Sebastian Seitz GbR</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5A6DD1DC9F4443C44C760457307B8C0925FD8B8B</string>
						<key>dateExpires</key>
						<string>29/01/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3DT956C6M4</string>
						<key>name</key>
						<string>Lodes Michael, Sebastian Seitz GbR</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5A6DD1DC9F4443C44C760457307B8C0925FD8B8B</string>
						<key>dateExpires</key>
						<string>29/01/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3DT956C6M4</string>
						<key>name</key>
						<string>Lodes Michael, Sebastian Seitz GbR</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5A6DD1DC9F4443C44C760457307B8C0925FD8B8B</string>
						<key>dateExpires</key>
						<string>29/01/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3DT956C6M4</string>
						<key>name</key>
						<string>Lodes Michael, Sebastian Seitz GbR</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5A6DD1DC9F4443C44C760457307B8C0925FD8B8B</string>
						<key>dateExpires</key>
						<string>29/01/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3DT956C6M4</string>
						<key>name</key>
						<string>Lodes Michael, Sebastian Seitz GbR</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5A6DD1DC9F4443C44C760457307B8C0925FD8B8B</string>
						<key>dateExpires</key>
						<string>29/01/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3DT956C6M4</string>
						<key>name</key>
						<string>Lodes Michael, Sebastian Seitz GbR</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5A6DD1DC9F4443C44C760457307B8C0925FD8B8B</string>
						<key>dateExpires</key>
						<string>29/01/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3DT956C6M4</string>
						<key>name</key>
						<string>Lodes Michael, Sebastian Seitz GbR</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5A6DD1DC9F4443C44C760457307B8C0925FD8B8B</string>
						<key>dateExpires</key>
						<string>29/01/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3DT956C6M4</string>
						<key>name</key>
						<string>Lodes Michael, Sebastian Seitz GbR</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5A6DD1DC9F4443C44C760457307B8C0925FD8B8B</string>
						<key>dateExpires</key>
						<string>29/01/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3DT956C6M4</string>
						<key>name</key>
						<string>Lodes Michael, Sebastian Seitz GbR</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3DT956C6M4.eineStadt.app</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:www.spatialcontrol.de</string>
				</array>
				<key>com.apple.developer.nfc.readersession.formats</key>
				<array>
					<string>NDEF</string>
					<string>TAG</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>3DT956C6M4</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>EineStadt.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>bd04edf3-0ff8-4285-966a-7b87d07e22cc</string>
				<key>name</key>
				<string>Einstad_Dev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3DT956C6M4</string>
				<key>name</key>
				<string>Lodes Michael, Sebastian Seitz GbR</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
